.navbar {
  z-index: 500 !important;


}

.navbar:link {
  z-index: 500 !important;
  color: white !important;
}

.navbar-light .navbar-brand {
    font-family: 'Montserrat', sans-serif;
    color: rgba(255,255,255,.8);
    text-align: center;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 18px;
  font-weight: 500;
  font-family: 'Montserrat', sans-serif;
  color: rgba(225,225,225) !important;
  text-align: center;

}

.navbar-light .navbar-nav .nav-link:hover  {
  font-family: 'Montserrat', sans-serif;
  color: #39b54a !important;
  text-align: center;
}




.nature-logo {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    margin-top: 15px;
}

.navbar-toggler .navbar-light .navbar-dark{
  color: white !important; 
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
 
}

.custom-toggler.navbar-toggler {
  border-color: rgb(255,102,203);
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(255,102,203, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
} 

@media (min-width: 768px) {
  .navbar .navbar-nav {
   
 
    float: none;
    vertical-align: top;
  }
  
  .navbar .navbar-collapse {

    text-align: center;
  }
  
  }

