


.desktop-main-boxes {
    margin-top: 100vh;
    max-width: 100% !important;
    overflow: hidden;
}

.content-service-heading {
   
    text-align: center;
}
/* 
.underline {
    text-decoration: underline;
} */
.content-1 {
    font-family: "montserrat-bold", sans-serif;
    font-size: 1.5rem;
    line-height: 1.333;
    text-transform: uppercase;
    letter-spacing: .25rem;
    color: #39b54a;
}

.content-2 {
    font-family: "montserrat-medium", sans-serif;
    line-height: 1.255;
    color: #000000;
    margin-top: 20px;
    font-size: 2em;
    font-weight: 100;

}
.boxes-image{
    max-width: 100%;
}
.boxes-image-image {
    display:block;
    margin:auto;
    padding: 10px;
    width: 80px;
    height: 90px;
}

.main-sub-box {
    margin-top: 100px;
    padding: 20px;
}

.content-heading-b {
    width: 100% !important;
  text-align: center;
    margin-top: 30px;
    color: #000000;
    font-style: normal;
    font-weight: normal;
    text-transform: uppercase;
    letter-spacing: .18rem;
}

.content-para-b {
    text-align: center;
    color: #808080;
}

.class-green{
    width: 100% !important;
    text-align: center !important;
    color: #39b54a !important;
    background: inherit;
    border: none;
}

.class-green:hover{
    color: #39b54a !important;
    background: inherit;
    border: none;
    text-decoration: underline;
}

@media (max-width:767px) { 
    .desktop-main-boxes {
        margin-top: 620px;
        max-width: 100% !important;
        overflow: hidden;
    }
}
