.service-left-main{
  
    margin-top: 100px;

}

.service-right-main{

    margin-top: 100px;
  
}

.para-text {
    color: #808080;
    text-align: justify;
    font-size: 20px;
    margin-top: 40px;
   
}

.service-images {
    width: 90%;
    border-radius: 20px;
    height: 350px;
}

.text-heading {
    margin-top: 30px;
}