.content-categories {
    margin-top: 80px;
}

ul {
    margin: 0;
    padding: 0;
    
  }
  ul li {
    display: inline-block;
    padding-left: 25px;
    position: relative;
  }
  ul li:before {
 
    display: inline-block;
    text-align: center;
    position: absolute;
    left: 10px;

  }

  .container-list {
      margin-top: 40px;
  }

  .car-wash-c {
      margin-top: -50px;
      margin-bottom: 50px;
  }