.main-contactUs-d {
    background-color: black;
    margin-top: 80px;
    opacity: 0.9;
    padding-bottom: 30px;
}

.contactus-margin {
    z-index: 2;
}

.contact-us-content2 {
    color: white;
}

.contact-us-content1 {
    padding-top: 50px;
}


.form-control {
    font-size: 16px;
    width: 100%;
    background-color: inherit;
    border: 0px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.07);
    outline: none !important;
    margin-bottom: .9rem;
} 

.form-control:focus {
    color:  white;
    font-weight: 50%;
    width: 100%;
    background-color: inherit;
    border: 0px;
    border-bottom: 1px solid #39b54a !important;
    outline: none !important;
    outline-color: none !important;
    margin-bottom: .9rem;
}

*:focus {
    outline: none !important;
    outline-color: none !important;
}

input:focus {
    outline: none !important;
    outline-color: none !important;
 }

 .side-padding {
     margin-top: 80px;
     margin-left: 5%;
 }

 .btn-contact-submit {
     margin-top: 15px;
     background: #39b54a;
     color: white;
    width: 100%;
    margin-bottom: 40px;

 }

 .btn-contact-submit:focus {
    background: #008000;
    color: white;
    width: 100%;
}

.btn-contact-submit:hover {
    background: #008000;
    color: white;
    width: 100%;
}

.contact-info  {
    color: white;
    text-align: center;

}

.contact-info-address {
    text-align: center;
    margin-top: 30px;
    color: #008000;
}

.contact-para-address {
    color: white;
    text-align: center;
    margin-top: 10px;
    
  }

 

  .ci {
      font-size: 28px;
      text-align: center;
      color: white;
      margin-left: 5px;
  }

  .ci:hover {
    font-size: 28px;
    text-align: center;
    color: #008000;
    margin-left: 5px;
  
}

@media (max-width:767px) {
    .navbar-nav {
      background: white;
      color: #008000 !important;
    }
    ul {
        background: white;
      color: #008000 !important;
    }
    .navbar-light .navbar-nav .nav-link {
        padding: 5px;
        color: black !important;
    }
    .GoogleMaps {
        margin-right: 2%;
        border-radius: 15px;
        margin-top: 5px;
        
     }
  }